.hbox {
    -fx-spacing: 10;
}

.root {
    -fx-font-size: 16px;
}
.title {
    -fx-font-size: 24px;
    -fx-font-weight: 700;
}
.tool-bar, .titled-pane {
    -fx-background-color: #fff;
    -fx-fill: #fff;
}

.input-search {
    -fx-background-color: #fff;
    -fx-border-color: #ced4da;
    -fx-border-radius: 0.25em;
}

.input-search:focused {
    -fx-border-color: #80bdff;
    -fx-box-shadow: none;
}

.button {
    -fx-text-fill: #fff;
    -fx-font-weight: 700;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
}
.table-view .column-header {
    -fx-pref-height: 60px;
    -fx-alignment: center;
}
.table-view .column {
    -fx-alignment: center-left;
}
.table-view .table-cell{
    -fx-pref-height: 60px;
}
.check-box .box {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-border-color: none;
    -fx-border-radius: 3px;
    -fx-background-color: #28a3f4;
}

.check-box:selected .mark {
    -fx-background-color: white;

}

.button:hover {
    -fx-cursor: hand;
}

.button-toolbar {
    -fx-pref-width: 100px;

}

.delete-button {
    -fx-background-color: #f41b6a;
}

.delete-button:hover {
    -fx-background-color: #d30f5b; /* Màu nền khi hover */
}

.delete-button:pressed {
    -fx-background-color: #d30f5b; /* Màu nền khi nhấn */
}

.primary-button {
    -fx-background-color: #167df5;
}

.primary-button:hover {
    -fx-background-color: #0056b3; /* Màu nền khi hover */
}

.primary-button:pressed {
    -fx-background-color: #0056b3; /* Màu nền khi nhấn */
}