.white-form {
    -fx-background-color: #fff ;
}
.grey-form {
    -fx-background-color: #FBFBFB;
}

.green-form{
    -fx-background-color: #41CA2F ;
}

.blue-form{
     -fx-background-color: #2FBACA ;
}

.red-form{
     -fx-background-color: #CA392F ;
}

.table-view {
  -fx-background-color: transparent;
}

.table-view:focused {
  -fx-background-color: transparent;
}

.table-view .column-header-background {
  -fx-background-color: linear-gradient (#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
  -fx-background-color: #E9E9E9;
  -fx-text-fill: black;
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .table-cell {
  -fx-text-fill: white;
}

.table-row-cell {
  -fx-background-color: -fx-table-cell-border-color, #616161;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
  -fx-background-color: -fx-table-cell-border-color, #424242;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
  -fx-background-color: #005797;
  -fx-background-insets: 0;
  -fx-background-radius: 1;
}

